#root {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/dkrtmft3y/image/upload/v1596804824/trireme.jpg);
  
  background-repeat: no-repeat;
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");


body {
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
}

.main {
  margin: 250px 0;
}

header {
  background: rgb(244, 244, 244);
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 3.5em;
  color: white;
}

label {
  font-size: 2em;
  color: white;
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 0 0 8em 0;
  text-align: center;
  input {
    padding: 10px 20px;
    border: none;
  }
  button {
    padding: 10px 15px;
    background-color: #f76c6c;
    color: white;
    border: none;
  }
}

.member-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.member-item {
  p {
    font-size: 18px;
    font-weight: 600;
  }
  img {
    width: 80px;
    height: auto;
  }
  box-shadow: 0 0 15px rgba(244, 244, 244, 0.4);
  background-color: white;
  padding: 50px 80px;
  text-align: center;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.member-item:hover {
  box-shadow: 0 0 0px rgba(244, 244, 244, 0.4);
  border: solid 2px #f76c6c;
  -webkit-transform: scale(1.05);
	transform: scale(1.05);
}

footer {
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 2em;

}

.button {
  
  color :#f76c6c;
  background-color: white;
  border: solid 1px #f76c6c;
}

.button:hover {
  border-radius: 50%;
  transition: .3s;
  background-color: #f76c6c;
  color: white;
}

@media screen and (max-width: 1024px) {
  .member-list {
    grid-gap: 30px;
  }

  .member-item {
    p {
      font-size: 14px;
      font-weight: 600;
    }
    img {
      width: 60px;
      height: auto;
    }
    box-shadow: 0 0 15px rgba(244, 244, 244, 0.4);
    background-color: white;
    padding: 30px 60px;
    text-align: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .member-list {
    grid-gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .member-item {
    p {
      font-size: 10px;
      font-weight: 600;
    }
    img {
      width: 40px;
      height: auto;
    }
    box-shadow: 0 0 15px rgba(244, 244, 244, 0.4);
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
}