#root {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/dkrtmft3y/image/upload/v1596804824/trireme.jpg);
  
  background-repeat: no-repeat;
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");


body {
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
}

.main {
  margin: 200px 0;

}

header {
  background: rgb(244, 244, 244);
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 3.5em;
  color: white;
}

label {
  color: white;
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 0 0 8em 0;
  text-align: center;
}

.member-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
}

.member-item {
  p {
    font-size: 18px;
    font-weight: 600;
  }
  img {
    width: 80px;
    height: auto;
  }
  box-shadow: 0 0 15px rgba(244, 244, 244, 0.4);
  background-color: white;
  padding: 50px 80px;
  text-align: center;
}

footer {
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 2em;
}